<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hum Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hum Link Statistics</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Here are your Hum Link Stats So Far</strong>
    <ion-col class="text" *ngFor="let item of items | async">
      <ion-item>
        {{item.influencerId}}
      </ion-item>
    </ion-col>
  </div>
</ion-content>
